#feature_items .feature_item a.main_link {
    width:100%;
    height:100%;
    display:block;
    pointer:click;
}

 .layout_event{
    display:none;
}


/*************** MOBILE CSS *****************/

@media only screen and (max-width: 767px) { 
    
    .flexslider{
        margin-top:25px;
    }
    .site_content_container{
        background: none;
        margin-bottom: 50px;
    }
    .phone-banner{
        width: 100%;
    }
   .label_sub {
      display: block;
      margin-bottom: 5px;
      margin-top: 15px;
      color:#616161;
    }
    .mobile_hours_label {
      width: 55%;
      float: left;
      font-size: 18px;
      margin-left: 20px;
      font-family: verdana;
      line-height: 30px;
      margin-top: 3px;
      color: #616161;
    }
    .mobile_hours_day li {
      list-style: none;
      font-size: 10pt;
      font-weight: bold;
    }
    .directory_link {
        margin-top: 20px;
      position: relative;
      width: auto;
      font-family: verdana;
      font-size: 15pt;
      width: 100%;
      text-align: left !important;
    }
    .directory_link a {
      padding-left: 20px;
      color: #616161;
      text-decoration: none;
    }
    .feature_box{
        margin-top:50px;
    }
    .feature_item {
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
    .feature_item:first-child {
       margin-left: 0px;
    }
    .feature_caret{
        width:40px;
        height: 40px;
        padding: 9px 17px;
    }
    .feature_item_description{
        height: 40px;
        padding: 10px 10px;
    }
    .feature_item_description p{
        font-size: 12px;
        font-weight: bold;
    }

}
